/*From Gabroel - Obsidian #css-themes channel*/
/*video demo https://discord.com/channels/686053708261228577/702656734631821413/784922140465692712 */

* {margin: 0; padding: 0; list-style: none;}

li > p:not(.task-list-item) {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

ul li:not(.task-list-item) {
  margin-left: 15px;
  border-left: 5px solid gray;
  box-shadow: 0 0 0 0.5px gray;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  list-style: none;
  display: list-item;
  height: fit-content;
}

ul li:not(.task-list-item)::before {
  content: '•';
  color: #8ec07c;
  display: inline-block;
  width: 1em;
  position: relative;
  margin-left: 0em;
  font-weight: bold;
  text-shadow: 0 0 0.5em #8ec07c;
}

ol {
  counter-reset: cupcake;
  padding-left: 5px;
}
ol li {
  counter-increment: cupcake;
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
  list-style-position: inside;
  border-left: 5px solid gray;
  box-shadow: 0 0 0 0.5px darkgray;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 8px;
  padding-right: 5px;
}

ol li::before {
  content: counters(cupcake, '.') '. ';
  /* Whatever custom styles you want here */
  color: gray;
  font-weight: bold;
  display: inline-block;
  white-space: pre;
}


/*Collapse indicator*/
.markdown-preview-view .collapse-indicator {
  margin-left: -46px;
  padding: 0 18px;
}

/*heading collapse indicator*/
.markdown-preview-view .heading-collapse-indicator {
  margin-left: -25px;
  padding: 0 8px;
}

div.heading-collapse-indicator.collapse-indicator.collapse-icon:hover{
  color: var(--text-accent);
}
.markdown-preview-section:not(.is-collapsed) svg.right-triangle{
  color: var(--text-accent);
}