.cm-s-obsidian .HyperMD-hr {
    border: 0 !important;
    height: 0.35rem;
    width: 100%;
    margin: 3em auto;
    position: absolute;
    display: block;
    background-image: -webkit-linear-gradient( 0deg, transparent, #f6c177, #eb6f92, #ea9a97, #C5A3FF, #9ccfd8, transparent);
    clear: both;
}


/* Rainbow gradient horizontal line - Rosé Pine Moon theme */


/* Preview */

hr {
    border: 0 !important;
    height: 0.25rem;
    display: block;
    margin: 0.35em !important;
    background-image: -webkit-linear-gradient( 0deg, transparent, #f6c177, #eb6f92, #ea9a97, #C5A3FF, #9ccfd8, transparent);
    clear: both;
}

cite {
    padding-top: 0 !important;
}