.data-link-icon::before {
    font-size: 75%;
    opacity: 80%;
}

.data-link-icon::before {
    font-weight: 600;
}


.data-link-icon[data-link-tags*="#EVER/SEED" i]::before {
    content: "🌱";
} 

.data-link-icon[data-link-tags*="#EVER/SPROUT" i]::before {
    content: "🌿️";
} 
.data-link-icon[data-link-tags*="#EVER/GREEN" i]::before {
    content: "🌲";
} 
.data-link-icon[data-link-tags*="#EVER/GROWING" i]::before {
    content: "🍀";
} 
.data-link-icon[data-link-tags*="topic/outline" i]::before {
    content: "🧭";
}
.data-link-icon[data-link-tags*="#EVER/WEED" i]::before {
    content: "🌵";
}
.data-link-text[data-link-tags*="topic"] {
    color: rgba(187, 85, 54, 0.945) !important;
    text-decoration: none;
}
.data-link-text[data-link-tags*="topic/term"] {
    color: rgb(185, 123, 52) !important;
    text-decoration: none;
}

.data-link-text[data-link-tags*="evergreen"] {
    color: rgba(71, 179, 221, 0.904) !important;
    text-decoration: none;
}

.data-link-icon[data-link-tags*="tool"]::before {
    content: "💻";
}

.data-link-icon[data-link-tags*="person"]::before {
    content: "🦱";
}