.data-link-icon::before {
    font-size: 75%;
    opacity: 80%;
}

.data-link-icon::before {
    font-weight: 600;
}


.data-link-icon[data-link-tags*="#EVER/SEED" i]::before {
    content: "🌱";
} 

.data-link-icon[data-link-tags*="#EVER/SPROUT" i]::before {
    content: "🌿️";
} 
.data-link-icon[data-link-tags*="#EVER/GREEN" i]::before {
    content: "🌲";
} 
.data-link-icon[data-link-tags*="#EVER/GROWING" i]::before {
    content: "🍀";
} 

.data-link-icon[data-link-tags*="#EVER/WEED" i]::before {
    content: "🌵";
}

.data-link-text[data-link-tags*="topic"], [data-link-tags*="topic"] .cm-underline {
    color: rgb(255, 97, 97) !important;
    text-decoration: none;
}
.data-link-text[data-link-tags*="topic/term"], [data-link-tags*="topic/term"] .cm-underline {
    color: rgb(255, 182, 86) !important;
    text-decoration: none;
}
.data-link-text[data-link-tags*="topic/stub"], [data-link-tags*="topic/stub"] .cm-underline {
    color: rgb(155, 248, 255) !important;
    text-decoration: none;
}

.data-link-text[data-link-tags*="evergreen"], [data-link-tags*="evergreen"] .cm-underline {
    color: rgb(0, 183, 255) !important;
    text-decoration: none;
}

.data-link-icon[data-link-tags*="tool"]::before {
    content: "💻";
}

.data-link-icon[data-link-tags*="person"]::before {
    content: "🦱";
}