
Skip to content
Pull requests
Issues
Marketplace
Explore
@Aaron-Bopp
Dmitriy-Shulha /
obsidian-css-snippets

11
148

    19

Code
Issues 2
Pull requests
Actions
Projects
Wiki
Security

    Insights

obsidian-css-snippets/Snippets/WYSIWYG.md
@Dmitriy-Shulha
Dmitriy-Shulha Split All-together-CSS.md into several files.
Latest commit 6ccfcc4 on Dec 19, 2020
History
1 contributor
156 lines (136 sloc) 4.56 KB
WYSIWYG

/**************************************/
/* 5. WYSIWYG: imitation in Edit mode */
/**************************************/
/* Source: various people on forum, incl. Piotr and pihentagy
/**************************************/
/* Editor font: make thicker so it is like in Preview
/* Remove markdown clutter
/* Unordered lists: turn into bullets as you type, as per Typora
/* Underline H1 heading in Edit mode
/* Blockquote in edit mode with left border rendered instead of ">"
/* Tag pills in edit mode
/* Coloured headings for editor and preview, same font-weight in Edit & Preview
/* ============================================================================*/

/* For Edit mode use same font and font size as for Preview mode */

/* Editor font: make thicker so it is like in Preview */
.cm-s-obsidian .CodeMirror-line * {
    -webkit-font-smoothing: auto;
}
  
/* Remove markdown clutter */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting:not(.cm-tag),
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-string.cm-url,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-link,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-link:not(.cm-link),
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-comment,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hmd-barelink
 {
    display: none !important;
} 
  
/* except numbered list */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list {
   display: inline !important;
}
  
/* except list markers */ span.cm-formatting-list,
/*code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* optionally header hashes */ /*span.cm-formatting-header
{ display: inline !important; }
  
/* and task checkboxes */
span.cm-formatting-task { display: inline !important; font-family: monospace; }
  
/* highlight (==) not visible anymore if not active line */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-formatting-highlight.cm-highlight {
 font-size: 0;
}
  
/* Unordered lists: turn into bullets as you type, as per Typora */
span.cm-formatting-list-ul {
  visibility: hidden !important;
}
    
span.cm-formatting-list-ul:after {
  content: '• ';
  margin-left: -12px;
  color: var(--text-normal);
  visibility: visible !important;
}
  
/* Underline H1 heading in Edit mode */
.cm-s-obsidian pre.HyperMD-header-1:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 1px;
  background: var(--text-accent); /* rgb(123, 108, 214); */
}
  

/* Tag pills in edit mode - thanks to Whyl */
/* to make rectangular tag pills w/ rounded corners change radii to 4 px */


.CodeMirror-line span.cm-hashtag{
  background-color: var(--text-accent);
  color: white;
  display: inline-block;
  text-decoration: none !important;
}


.CodeMirror-line span.cm-hashtag-begin {
  border-top-left-radius:15px; /* change to 4px for rectangular pills */
  border-bottom-left-radius:15px; /* change to 4px for rectangular pills */
  padding-left:8px;
  border-right:none;
}

.CodeMirror-line span.cm-hashtag-end {
  border-top-right-radius:15px; /* change to 4px for rectangular pills */
  border-bottom-right-radius:15px; /* change to 4px for rectangular pills */
  padding-right:8px;
  border-left:none;
}

/* Tag pills in Preview mode */
.tag:not(.token) {
  border: none;
  color: white !important;
  font-size: 12px;
  padding: 1px 8px 3px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 8px; /* change to 4px for rectangular pills */
  background-color: var(--text-accent) !important;
}

/* Tag pills in tag pane */
.tag-pane-tag-count {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 8px; /* change to 4px for rectangular pills */
}

.tag-pane-tag-text {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 8px; /* change to 4px for rectangular pills */
}

/* Change color of tag count pill when hovering */
.tag-pane-tag:hover .tag-pane-tag-count {
  color: white;
  background-color: var(--base2);
}
  
/* Coloured headings for editor and preview, same font-weight in Edit & Preview */
.cm-s-obsidian .cm-header-1,
.markdown-preview-view h1 {
  font-weight: 450;
  color: rgb(123, 108, 214); /* was(115, 98, 205); */
}
  
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h2 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}
  
.cm-s-obsidian .cm-header-3,
.markdown-preview-view h3 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}
  
.cm-s-obsidian .cm-header-4,
.markdown-preview-view h4 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}
  
.cm-s-obsidian .cm-header-5,
.markdown-preview-view h5 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}
  
.cm-s-obsidian .cm-header-6,
.markdown-preview-view h6 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}

    © 2021 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Docs

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

