hr {
    border: 0 !important;
    height: 0.25rem;
    display: block;
    margin: 0.35em !important;
    clear: both;
}

cite {
    padding-top: 0 !important;
}

.theme-dark .graph-view.color-line {
    color: #04244b;
}

.workspace-leaf-content[data-type="graph"] .view-content {
    background-color: #20142486;
}

.theme-dark .graph-view.color-circle {
    color: rgb(221, 15, 15) !important;
}