hr {
  height: 0.25rem;
  display: block;
  margin: 0.35em !important;
  clear: both;
}

cite {
  padding-top: 0 !important;
}

.theme-dark .graph-view.color-line {
  color: #04244b;
}
.theme-light .graph-view.color-line {
  color: #86b3e9b6;
}

.theme-dark .workspace-leaf-content[data-type="graph"] .view-content {
  background-color: #20142486;
}

.theme-dark .graph-view.color-circle {
  color: rgb(221, 15, 15) !important;
}
.graph-view.graph-view.color-fill-focused {
  color: #ff0000 !important;
}
.markdown-embed-title {
  display: none;
}

.markdown-embed {
  max-height: none;
  padding: 0;
  border: 0;
  margin: 0;
}

.data-link-text,
.markdown-preview-view .internal-link,
a,
span.cm-link,
.cm-hmd-internal-link,
.markdown-source-view.mod-cm6 .cm-underline,
.theme-dark .modal-content a,
.theme-dark .markdown-preview-view a.footnote-link,
.theme-dark .markdown-preview-view a.external-link {
  font-weight: 550;
  text-decoration: none;
}
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,
a,
.theme-dark sup.footnote-ref {
  color: #ab51fff8;
}
a:hover {
  color: #d3abf8f8;
}

/* fix bullets for lp */
/* .theme-dark span.list-bullet {
    visibility: hidden !important;
}
.theme-dark span.cm-formatting-list-ul::after {
    display: none !important;
    visibility: hidden !important;
} */
.theme-dark li::marker {
  content: "★";
  font-size: 13px;
  color: var(--gold1);
}

.theme-dark .mod-cm6 .HyperMD-list-line .list-bullet::after,
.theme-dark .mod-cm6 span.list-bullet::after {
  content: "★";
  font-size: 11px;
  color: var(--gold1);
  visibility: visible;
  position: absolute;
  top: 2px;
  left: -2px;
}
.theme-light.mod-cm6 .HyperMD-list-line .list-bullet::after,
.theme-light .mod-cm6 span.list-bullet::after {
  visibility: hidden !important;
  padding-right: 4px;
}

.theme-light .mod-cm6 .HyperMD-list-line .list-bullet::after,
.theme-light .mod-cm6 span.list-bullet::after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAABmklEQVQokaWSMWiTURRGz3f/pNWmixWi7q4OLTi5mMFCHezg0gZjBRd17+ri6CYUnAQbSWvBwcGpYgX3VkUEF9eaoHUxQqP/+xxi6k/ULP3G+9555z7uhUNEw4UTjbsVVFk0qQZxEnlX1kvcXWs3l7v/hatLK7NYTUEZeduOr1I6hpmx3CMvNTqPbmz+BVeXVmZJekbwNEvRyiOfdCJC8TmssTxSneR5nF0cPKBBq1blI+JVltxKiuvGc+B1Ea2BwPI17HPy99Pt5nI3+v7KoqCcpfgNprNy3C6l0kbxW1mKlmAcJhYAAsCkGvJ2biaN5yTdQ36dR/pZhJPcw9pxUDuAIaok7SlcAj3J8uzdiAl9EVQLcOoQngI6gofDxqEcN3QOYBFbWDNhjY2A6J972o4Xf8zurlmpl0eqj4LzSHWj/fKRWAfIALpvN39Uzlx6g9IdxNHM8d4iLxqTfBV7XtLlTw9ufuh3XEj1yv0LRL4qGMfasbQnewo8bbQv0Wiv3no+uP/v3WZiwcF5wSnDrh1b4W+Ph3f7UPkFeM+6vmvDCTwAAAAASUVORK5CYII=");
  visibility: visible !important;
  color: var(--gold1);
  position: absolute;
  top: 4px;
  left: -4px;
}

.theme-light li::marker {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAABmklEQVQokaWSMWiTURRGz3f/pNWmixWi7q4OLTi5mMFCHezg0gZjBRd17+ri6CYUnAQbSWvBwcGpYgX3VkUEF9eaoHUxQqP/+xxi6k/ULP3G+9555z7uhUNEw4UTjbsVVFk0qQZxEnlX1kvcXWs3l7v/hatLK7NYTUEZeduOr1I6hpmx3CMvNTqPbmz+BVeXVmZJekbwNEvRyiOfdCJC8TmssTxSneR5nF0cPKBBq1blI+JVltxKiuvGc+B1Ea2BwPI17HPy99Pt5nI3+v7KoqCcpfgNprNy3C6l0kbxW1mKlmAcJhYAAsCkGvJ2biaN5yTdQ36dR/pZhJPcw9pxUDuAIaok7SlcAj3J8uzdiAl9EVQLcOoQngI6gofDxqEcN3QOYBFbWDNhjY2A6J972o4Xf8zurlmpl0eqj4LzSHWj/fKRWAfIALpvN39Uzlx6g9IdxNHM8d4iLxqTfBV7XtLlTw9ufuh3XEj1yv0LRL4qGMfasbQnewo8bbQv0Wiv3no+uP/v3WZiwcF5wSnDrh1b4W+Ph3f7UPkFeM+6vmvDCTwAAAAASUVORK5CYII=");
  font-size: 13px;
  color: var(--gold1);
  padding-top: 4px;
}
/* span.cm-formatting-list-ul:after {
    visibility: hidden !important;
    margin-left:0px !important;
} */

/* Fix paragraph padding */
.cm-s-obsidian P,
.markdown-preview-view p {
  padding-bottom: 0px;
}
/* tag fixes */
/* .theme-dark .cm-s-obsidian span.cm-hashtag-begin {
    display: inherit !important;
    border: none ;
}
.theme-dark .cm-s-obsidian span.cm-hashtag::before {
    display: none !important;
    content: "" !important;
} */

