hr {
    height: 0.25rem;
    display: block;
    margin: 0.35em !important;
    clear: both;
}

cite {
    padding-top: 0 !important;
}

.theme-dark .graph-view.color-line {
    color: #04244b;
}
.theme-light .graph-view.color-line {
    color: #86b3e9b6;
}

.theme-dark .workspace-leaf-content[data-type="graph"] .view-content {
    background-color: #20142486;
}

.theme-dark .graph-view.color-circle {
    color: rgb(221, 15, 15) !important;
}
.theme-dark .graph-view.color-fill-highlight {
    color: #f6f9fa !important;
}
.markdown-embed-title {
    display: none;
}

.markdown-embed {
    max-height: none;
    padding: 0;
    border: 0;
    margin: 0;
}
a.internal-link,
span.cm-link,
.cm-hmd-internal-link,
.theme-dark .modal-content a,
.theme-dark .markdown-preview-view a.footnote-link,
.theme-dark .markdown-preview-view a.external-link {
    color: #823ac5f8;
    text-decoration: none;
}