.frontmatter-container {
    float: right;
    position: relative;
    width: 5em;
    height: 5em;
    overflow: hidden;
    color: transparent;
    border: none;
}

.frontmatter-container::before {
    border: none;
    content: "✫";
    color: var(--gold2);
    font-size: 50px;
}

.frontmatter-container:hover::before {
    font-size: 30px !important;
    float: right;
    margin-top: -15px;
}

.frontmatter-container:hover>.frontmatter-container-header {
    font-size: 20px;
    font-family: var(--font-space-header);
    color: var(--gold3);
}

.frontmatter-container:hover {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(187, 170, 218);
    width: 300px;
    height: unset;
    background-color: transparent;
    padding: 0.6em;
    padding-top: 1.5em;
    z-index: 3;
    /*box-shadow: .5em .5em var(--outer-bar);*/
    border: 2px rgba(89, 101, 104, 0.473) dotted;
    border-radius: 1.5em;
}