/*From Gabroel - Obsidian #css-themes channel*/
* {margin: 0; padding: 0; list-style: none;}
ul li:not(.task-list-item) {
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
  list-style-position: inside;
  border-left: 5px solid yellow;
  box-shadow: 0 0 0 0.5px hotpink;
  border-radius: 10px;
}

ol {
  counter-reset: cupcake;
  padding-left: 5px;
}
ol li {
  counter-increment: cupcake;
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
  list-style-position: inside;
  border-left: 5px solid hotpink;
  box-shadow: 0 0 0 0.5px hotpink;
  border-radius: 10px;
}

ol li:before {
  content: counters(cupcake, '.') '  ';
  /* Whatever custom styles you want here */
  color: hotpink;
  font-weight: bold;
  display: inline-block;
  white-space: pre;
}

/*Collapse indicator*/
.markdown-preview-view .collapse-indicator {
  margin-left: -46px;
  padding: 0 18px;
}

/*heading collapse indicator*/
.markdown-preview-view .heading-collapse-indicator {
  margin-left: -25px;
  padding: 0 8px;
}

div.heading-collapse-indicator.collapse-indicator.collapse-icon:hover{
  color: var(--text-accent);
}
.markdown-preview-section:not(.is-collapsed) svg.right-triangle{
  color: var(--text-accent);
}

/*outline collapse indicator*/
div.collapsible-item-collapse.collapse-icon{
  color: var(--text-accent);
}