/* Tags in Edit Mode */

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end {
    background-color: var(--text-accent);
    color: HSL(0, 0%, 100%, 100%);
    font-size: .875em;
    font-weight: 400;
    display: inline-block;
    padding: 1px .5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: text-top;
    margin-left: 2px;
    margin: 0rem 0rem;
    cursor: text;
    border-radius: 10px; 
    transition: ease-in 200ms;
}
  
/* Custom Tag Colours in Edit Mode */

div:not(.CodeMirror-activeline) .CodeMirror-line span.cm-tag {

    text-decoration: none;}
div:not(.CodeMirror-activeline) .CodeMirror-line span.cm-tag-custom1 {
    background-color: #F2404F;
    font-size: .875rem;
    text-decoration: none;}


/* No colour background for custom tags when in the active line */
  
.CodeMirror-activeline > .CodeMirror-line span.cm-tag-custom1 {
    background-color: transparent !important;
    color: var(--text-normal) !important;
    font-size: 1em!important; 
    font-weight: 300;}


  
/* Removes underline from generic tags in edit mode*/

.cm-s-obsidian span.cm-hashtag {
    text-decoration: none;
    color: var(--text-normal);
}

/* Tags in Preview */

.tag:not(.token) { 
    background-color: var(--text-accent);
    color: HSL(0, 0%, 100%, 100%);
    font-size: .75em;
    font-weight: 400;
    padding: 1px .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: text-top;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 85%;
    mix-blend-mode: lighten;
    transition: ease-in 200ms;
  
}

.tag:not(.token):hover {
    color: HSL(0, 0%, 100%, 75%);
    filter: contrast(150%);
    opacity: 100%;
}
  
/* Custom Tag Colours */
.tag[href^="#custom1"] {
    background-color: #F2404F ;
}

  
  
/* Adds hashtag behind the text */

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end:before {
    content: '#';
}
  
/* Removes other hashtag */

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-begin {
    display: none;
}
  